{
  "folders": [
    {
      "path": "./",
      "name": "ROOT"
    },
    {
      "path": "./projects/{{ project_name }}-contracts"
    },
    {
      "path": "./projects/{{ project_name }}-frontend"
    }
  ],
  "settings": {
    "files.exclude": {
      "projects/": true
    },
    "jest.disabledWorkspaceFolders": ["ROOT", "projects"],
    "dotenv.enableAutocloaking": false
  },
  "extensions": {
    "recommendations": ["joshx.workspace-terminals"]
  },
  {% if contract_template != 'tealscript' %}
  "tasks": {
    "version": "2.0.0",
    "tasks": [
      {
        "label": "Build artifacts (+ LocalNet)",
        "command": "algokit",
        "args": ["project", "run", "build"],
        "options": {
          "cwd": "${workspaceFolder}"
        },
        "dependsOn": "Start AlgoKit LocalNet",
        "problemMatcher": []
      },
      {
        "label": "Start AlgoKit LocalNet",
        "command": "algokit",
        "args": ["localnet", "start"],
        "type": "shell",
        "options": {
          "cwd": "${workspaceFolder}"
        },
        "problemMatcher": []
      }
    ]
  },
  "launch": {
    "configurations": [],
    "compounds": [
      {
        "preLaunchTask": "Build artifacts (+ LocalNet)",
        "name": "Run Frontend (+ LocalNet and Smart Contract)",
        "configurations": [
          {
            "name": "Deploy contracts",
            "folder": "{{ project_name }}-contracts"
          },
          { "name": "Run dApp", "folder": "{{ project_name }}-frontend" }
        ],
        "presentation": {
          "hidden": false,
          "group": "0. Run workspace"
        }
      }
    ]
  }
  {% else %}
  "tasks": {
    "version": "2.0.0",
    "tasks": []
  },
  "launch": {
    "configurations": []
  }
  {% endif -%}
}
